.table-select {
  box-sizing: border-box;
  width: 100%;
  min-width: 120px;
  padding: 0 10px;
  height: 20px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  transition: .2s color, background-color;

  &:focus {
    z-index: 999;
    width: calc(100% - 5px) !important;
    min-width: 125px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding: 0 15px;
    background-color: var(--border-color);
    color: var(--primary-text-color) !important;
  }
}