
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --icon-stroke: var(--gray2);

  /*State colors*/
  --green: #629E46;
  --yellow: #C39247;
  --pink: #CF4D74;
  --green-transparent: rgba(98, 158, 70, 0.4);
  --yellow-transparent: rgba(195, 146, 71, 0.4);
  --pink-transparent: rgba(207, 77, 116, 0.4);

  /* Scrollbar */
  --sb-track-color: transparent;
  --sb-size: 5px;
  --sb-thumb-color: #333333;
  color-scheme: dark;
}

* {
  &:focus,
  &:focus-visible{
    outline: none;
  }
  color-scheme: var(--scheme);

  ::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
  }

  &::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
  }

  @supports not selector(::-webkit-scrollbar) {
    & {
      scrollbar-color: var(--sb-thumb-color)
      var(--sb-track-color);
    }
  }
}

::selection {
  color: #fff;
  background: var(--active-hover-color);
}

html, body {
  min-height: 100vh;
  color-scheme: var(--scheme);

  &.dark-overlay {
    background-color: var(--overlay);
    transition: background-color 0.3s ease;

    &::after {
      content: '';
      display: block;
      position: fixed;
      z-index: 900;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--overlay);
      backdrop-filter: blur(10px);
    }
  }
}

.hidden {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

.not-visible {
  opacity: 0;
}

.App {
  background-color: var(--body-color);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: var(--primary-text-color);
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
}

th {
  font-size: inherit;
  font-weight: inherit;
}

input[type='checkbox'],
input[type='radio']{
  &:checked {
    position: relative;

    &:after {
      content: '';
      box-sizing: border-box;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--active-color);
      backdrop-filter: blur(13px);
      border-radius: 2px;
      overflow: hidden;
      border: 1px solid var(--gray2);
    }
  }
}